<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | WHITE SPIKES</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <style>
        form {
            top: 0;
            position: absolute;
            left: 0;
            width: 300px;
            background: rgb(0, 0, 0, 0.6);
            height: 100%;
            padding: .5rem;
            color: #e5e5e5;
        }

        .box-inp {
            width: 100%;
        }

        input[type="submit"] {
            background: #7a7a7a;
        }

        input[type="submit"]:hover {
            background: linear-gradient(to right, #ff3600, #d00000);
            cursor: pointer;
        }

        p {
            text-align: center;
        }

        @media(max-width: 400px) {
            form {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <video id="video-background" autoplay muted loop>
        <source src="/assets/src/bg.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <form action="/" method="post">
        <h2 class="main-t">WHITE SPIKES LOGIN</h2>
        <div class="box-inp">
            <input type="password" placeholder="Username" name="username" required>
        </div>
        <div class="box-inp">
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <div class="box-inp">
            <input type="submit" value="LOGIN">
        </div>
        <p>
            This tool was created by
            <a style="color: #00ff62;" href="https://madhanmaaz.netlify.app/">
                madhanmaaz (madhanHacker)
            </a>
        </p>
    </form>
</body>

</html>