.main-content {
    padding: .5rem;
    display: flex;
    flex-grow: 1;
    height: 1vh;
}

.main-content .info {
    width: 350px;
    display: flex;
    flex-direction: column;
    /* border-top-left-radius: 7px;
    border-bottom-left-radius: 7px; */
    background: #0d1d31;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.main-content .info .left {
    background: #0d1d31;
    padding: .5rem;
}

.main-content .info .right {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 .3rem;
    background: #0d1d31;
}

.main-content .info .right .sub {
    position: sticky;
    top: 0;
    padding: .2rem;
    background: #0d1d31;
}

/* terminal box */
.main-content .terminal-box {
    flex: 1;
    background: #000d1f;
    padding: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: auto;
    /* border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; */
}

table {
    border-collapse: collapse;
}

table tr th {
    text-transform: uppercase;
    text-align: left;
    color: #9dff00;
    font-weight: 400;
}

table tr th,
table tr td {
    padding: .4rem;
    border: 2px solid rgba(146, 146, 146, 0.4);
}

.terminal-box pre {
    color: #d1d1d1;
    margin: .3rem auto;
}

.info .right a {
    display: block;
}

.terminal-box pre.head,
.info .right .head {
    color: #00d9ff;
    text-transform: uppercase;
}

.terminal-box pre.ok,
.info .right .ok {
    color: #00ff00;
}

.terminal-box pre.err,
.info .right .err {
    color: red;
}

.info .right span,
.terminal-box span {
    color: #fffb00;
}

.database-container {
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.database-container .content {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.database-container table {
    margin-top: .3rem;
}


.response-container {
    width: 100%;
}

.response-container .content {
    background: var(--secondary-bg);
    border-radius: 7px;
    color: #e5e5e5;
    font-size: 1.2rem;
    padding: .5rem;
    border: 1px solid rgba(146, 146, 146, 0.2);
    resize: none;
}

.screenshot-container {
    width: 100%;
}

.screenshot-container img {
    height: 1vh;
    flex-grow: 1;
    object-fit: contain;
}


@media(max-width: 900px) {
    .main-content {
        flex-direction: column;
    }

    .main-content .info {
        flex-direction: row;
        width: 100%;
        height: 150px;
    }
}

@media(max-width: 500px) {
    .main-content .info {
        flex-direction: column;
        height: 250px;
    }
}